
body {
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: rgb(245, 245, 245);
    margin: 0;  
    font-family: sans-serif; 
    -webkit-user-select: none;
}

[onclick] {
    cursor : pointer;
}

[onclick]:hover {
    /*background-color: red;*/
    filter: brightness(85%);
}

/* HEADER CSS */
.headerbar {
    flex: 1;
    width: 100%;
    height: 50pt;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction:row;     
    align-items: center; 
    justify-content: space-between;
    background: rgb(45, 196, 241);
    margin-bottom: 10pt;
}

.logo {
   float: left;
   margin-left: 20pt;
}

.searchBar {
    text-align:center;
    float: left;
    color:white;
}

.searchBar i {
    margin-left: -25pt;
    color: rgb(45, 196, 241);
}

.searchBar a {
    margin-left: 15pt;
}

.searchText {
    font-weight: normal;
    outline: none;
    padding: 7px;
    border: none;
    font-size: 16px;
}

.showAll {
  float: right;
  margin-right: 20pt;
  margin-left: 5pt; 
  color:white;
  justify-content: center;  
}


/* DISPLAY WORDS CSS */

.mainPageDivision {
    z-index: 1;
    flex: 2;
    margin-top: 60pt;
    /* ali koptan was here */
}

.appendedDiv {
    background: rgb(255, 255, 255);
    width: 500pt;  
    box-shadow: 2pt 2pt #D6D6D6;
    border: 0px solid rgb(245, 245, 245);
    border-radius: 10px;
    border-bottom-color: #A8A8A8;
    position: relative;
    padding: 10pt;
    margin: 10pt;
}

.editbutton {
    color: #A8A8A8;
    background: rgb(255, 255, 255);
    font-size: 11pt;    
    border: none;    
    margin-right: 35pt;
    margin-top: 10pt;
    top: 0pt;
    outline: none;
    float: right;
    right: 0pt; 
    position: absolute;
}

.deleteImageButton {
    background: rgb(255, 255, 255);    
    border: none;        
    margin-right: 15pt;    
    margin-top: 10pt;
    top: 0pt;
    height:16pt;
    align-items: center;
    width: 16pt;
    right: 0pt; 
    outline: none;
    float: right;
    position: absolute;    
}

.deleteimg {
    height:9pt;
    width: 9pt;
    vertical-align: middle;
}

.editimg {
    height:11pt;
    width: 11pt;
    vertical-align: middle;
}

.wordTypeDiv {
    display:block;
    align-content:flex-start;
    display: inline-block;
    height: 10%;
    margin-left: 10pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-top: 0pt;
}

.word {
    -webkit-user-select: auto;
    color: #2dc4f1;
    display: inline-block;
    font-size: 35pt;
    margin: 0; 
    padding: 0;
    align-self: flex-start;
    word-wrap: break-word;
}

.typeParagraph {
    font-size: 10pt;
    display: inline-block;
    font-style: italic;
    margin-left: 5pt;
}

.definitionClass {
    word-wrap: break-word;
    font-size: 12pt;
    color: #3F3F3F;   
    margin: 0;
    font-weight: normal;
}

.defMainDiv {
    -webkit-user-select: auto;
    align-items: center;
    margin-right: 20pt;
    margin-top: 0pt;
    margin-left: 20pt;    
    margin-bottom: 10pt;
}

.plusbutton {
    position: fixed;
    z-index: 4;
    right: 40pt;
    bottom: 40pt;
    background: rgba(245, 245, 245, 0);
    border: 0pt;
    border-radius: 50pt;
    outline: none;
}

 /* EDIT MODAL CSS */
 .typeInput {
    width: 30%;
    border-width: 1pt;
    border-radius: 4pt;
    border: solid;
    outline: none;
    border-color:white;
}

.editDiv {
    padding: 10pt;
    z-index: 3;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    top:0;
    background: white;
    position: fixed;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.wordlbl {
    font-size: 30pt;
}

/* ADD WORD MODAL CSS */

.inputForm {
    width: 50%;
    margin: 10pt;
    align-content: left;
    border: solid;
    border-width: 1pt;
    border-radius: 4pt;
    height: 25pt;
    border-color: #E2E2E2;
    outline: none;   
}

.addDiv {
    z-index: 3;
    overflow: hidden;
    display: flex;
    align-items: center;
    display: flex;
    top:0;
    background: white;
    position: fixed;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.addCancelDiv {
    text-align: center;
}

.addBtn {      
    text-decoration: none;
    background-color: #2dc4f1;
    color: white;
    border: none;
    border-width: 1pt;
    border-radius: 4pt;
    border-color: #2dc4f1;
    outline: none;
    height: 30pt;    
    width: 60pt;
    text-align: center;    
}

.deftxt {
    width: 93%;
    height: 150pt;
    border: solid;
    border-width: 1pt;
    border-radius: 4pt;
    border-color: #E2E2E2;
    margin: 10pt;
    outline: none;  
    resize: none; 
}

.cancelBtn {
    align-self: center;  
    text-decoration: none;
    color: white;
    border: none;
    border-width: 1pt;
    height: 30pt;
    border-radius: 4pt;
    border-color: #EEEEEE;
    outline: none;
    width: 60pt;
    text-align: center;    
}

.wordInputs {
    display: flex;
}

.defDiv {
    display: flex;
    justify-content: flex-end;
}

@-webkit-keyframes animatetop{
    from {
        top: -300pt;
        opacity: 0;
    }
    to {
        top:0;
        opacity: 1;
    }
}