
body {
    display: flex;    
    width:100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    margin: 0;  
    font-family: sans-serif; 
    -webkit-user-select: none;
    --primaryWhite: white;
    --mainColor: #2dc4f1;
    --backgroundColor: #f3f3f3;
    --borderColor: #E2E2E2;
    --secondayBtnColor: #CCC;
}

[onclick] {
    cursor : pointer;
}

[onclick]:hover {
    /*background-color: red;*/
    filter: brightness(105%);
}

/* HEADER CSS */
.headerbar {
    flex: 1;
    width: 100%;
    height: 50pt;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction:row;     
    align-items: center; 
    justify-content: space-between;
    background: var(--mainColor);
    margin-bottom: 10pt;
}

.logo {
   float: left;
   margin-left: 10pt;
}

.searchBar {
    text-align:center;
    float: left;
    color:var(--primaryWhite);
}

.searchBar i {
    margin-left: -25pt;
    color: var(--mainColor)
}

.searchBar a {
    margin-left: 15pt;
}

.searchText {
    font-weight: normal;
    outline: none;
    padding: 7px;
    border: none;
    font-size: 16px;
}

.showAll {
  float: right;
  margin-right: 20pt;
  margin-left: 5pt; 
  color:var(--primaryWhite);
  justify-content: center;  
}


/* DISPLAY WORDS CSS */

.mainPageDivision {
    z-index: 1;
    flex: 2;
    height: 100%;
    margin-top: 60pt;
    margin-bottom: 110pt;
    /* ali koptan was here */
}

.appendedDiv {
    background: rgb(255, 255, 255);
    width: 500pt;  
    box-shadow: 2pt 2pt #D6D6D6;
    border: 0px solid var(--backgroundColor);
    border-radius: 10px;
    border-bottom-color: var(--borderColor);
    position: relative;
    padding: 10pt;
    margin: 10pt;
}
.iconsDiv{
    /* justify-content: space-between; */
    align-content:flex-start;
    float: right;
    margin-top: 5pt;
    top: 0pt;
    right: 0pt;
    position: absolute;
}


.appendedDiv i{
    margin-top: 2pt;
    height:20pt;
    width: 20pt;
    color:var(--secondayBtnColor);
    vertical-align: middle;
}


.wordTypeDiv {
    display:block;
    align-content:flex-start;
    display: inline-block;
    height: 10%;
    margin-left: 10pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-top: 0pt;
    
}

.word {
    -webkit-user-select: auto;
    color: var(--mainColor);
    display: inline-block;
    font-size: 35pt;
    margin: 0; 
    padding: 0;
    align-self: flex-start;
    word-wrap: break-word;
}

.typeParagraph {
    font-size: 10pt;
    display: inline-block;
    font-style: italic;
    margin-left: 5pt;
}

.definitionClass {
    word-wrap: break-word;
    font-size: 12pt;
    color: #3F3F3F;   
    margin: 0;
    font-weight: normal;
}

.defMainDiv {
    -webkit-user-select: auto;
    align-items: center;
    margin-right: 20pt;
    margin-top: 0pt;
    margin-left: 20pt;    
    margin-bottom: 10pt;
}

.plusbutton {
    display: flex;

    height: 40pt;
    width: 40pt;
    border-radius: 50%;
    position: fixed;
    z-index: 4;
    bottom: 40pt;
    right: 40pt;
    background: var(--mainColor);
    border: 0pt;
    border-radius: 50pt;
    outline: none;
    align-items: center;
}
.plusbutton i {
    color: var(--primaryWhite);
    margin-left: 7pt;
    font-size: 40pt;
}

 /* EDIT MODAL CSS */
 .typeInput {
    width: 30%;
    border-width: 1pt;
    border-radius: 4pt;
    border: solid;
    outline: none;
    border-color:var(--primaryWhite);
    margin: 10pt;
}

.editDiv {
    padding: 10pt;
    z-index: 3;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    top:0;
    background: var(--primaryWhite);
    position: fixed;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.wordlbl {
    font-size: 30pt;
    margin: 10pt;
}

/* ADD WORD MODAL CSS */

.inputForm {
    width: 50%;
    margin: 10pt;
    align-content: left;
    border: solid;
    border-width: 1pt;
    border-radius: 4pt;
    height: 25pt;
    border-color: var(--borderColor);
    outline: none;   
}

.addDiv {
    z-index: 3;
    overflow: hidden;
    display: flex;
    align-items: center;
    display: flex;
    top:0;
    background: var(--primaryWhite);
    position: fixed;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.addCancelDiv {
    text-align: center;
}

.addBtn {      
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--primaryWhite);
    border: none;
    border-width: 1pt;
    border-radius: 4pt;
    border-color: var(--mainColor);
    outline: none;
    height: 30pt;    
    width: 60pt;
    text-align: center;    
}

.deftxt {
    width: 93%;
    height: 150pt;
    border: solid;
    border-width: 1pt;
    border-radius: 4pt;
    border-color: var(--borderColor);
    margin: 10pt;
    outline: none;  
    resize: none; 
}

.cancelBtn {
    align-self: center;  
    text-decoration: none;
    color: var(--primaryWhite);
    background-color: var(--secondayBtnColor);
    border: none;
    border-width: 1pt;
    height: 30pt;
    border-radius: 4pt;
    border-color: var(--borderColor);
    outline: none;
    width: 60pt;
    text-align: center;    
}

.wordInputs {
    display: flex;
}

.defDiv {
    display: flex;
    justify-content: flex-end;
}

@-webkit-keyframes animatetop{
    from {
        top: -300pt;
        opacity: 0;
    }
    to {
        top:0;
        opacity: 1;
    }
}
/* TRANSLATE WORD MODAL CSS*/
.translateM{
    z-index: 3;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--primaryWhite);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.selectLanguageDiv{
    margin: 10pt;
}
.wordDiv{
        margin: 30pt;
        margin-top: 20pt;
        
}

.translatedwordlbl {
    font-size: 25pt;
    word-wrap: break-word;
    
}
.closediv{
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 20pt;
    right: 20pt;
}

.closeBtn{
    
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--primaryWhite);
    border: none;
    border-width: 1pt;
    border-radius: 4pt;
    border-color: var(--mainColor);
    outline: none;
    height: 30pt;    
    width: 60pt;
    text-align: center; 
  
 
}
   /* LOADING INDICATOR CSS */
#loading{

    width: 50px;
    height: 50px;
    border: 5px solid  var(--secondayBtnColor);
    border-top-color: var(--mainColor);
    border-radius: 100%;
        /* To center */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
        /* rotate */
    animation: round 2s linear infinite;
}
#loadingTranslation{
    
        width: 50px;
        height: 50px;
        border: 5px solid  var(--secondayBtnColor);
        border-top-color: var(--mainColor);
        border-radius: 100%;
            /* To center */
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 150px;
        margin: auto;
            /* rotate */
        animation: round 2s linear infinite;
    }
@keyframes round{
    from{ transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}   